/*
***** Samuel Chibueze
***** https://sechibueze.github.io
***** 
*/

/************ CONSTANTS *************/

$primary-color: #0d47a1;
$light-color: #ffffff; // #5472d3;
$success-color: #FAC413;
$dark-color: #002171;
$desktop-breakpoint: 840px;
$tablet-breakpoint: 760px;
$mobile-breakpoint: 480px;

* {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Montserrat', "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container{
  width: 80%;
  margin: auto;
  display: block;
  @media(max-width: 760px) {
    width: 97%;
  }
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.card{
  display: block;
  width: 30%;
  border-radius: 1.25rem;
  box-shadow: 0px 2px 2px #ddd;
  text-align: left;
  padding: .75rem;
  margin: .5rem auto;
  @media(max-width: $mobile-breakpoint){
    width: 100%;
  }
  .card-icon, .card-image{
    text-align: center;
    display: block;
    height: auto;
    max-height: 8rem;
    color: $primary-color;
  }
  .card-title{
    text-align: center;
    display: block;
    padding: .5rem 0rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: $primary-color;
  }
  .card-body{
    padding: .75rem 0rem;
    text-align: center;
    line-height: 1.8;
  }
  .card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: .75rem 0rem;
  }
}
.cta-block{
      
  display: block;
  padding: .75rem 1rem;
  margin: auto;
  width: 80%;
  text-align: center;
}
.cta{
    // margin: .25rem .5rem;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    border: 1px solid $primary-color;
    border-radius: .3rem;
    transition: all 1s ease-in;
    @media(max-width: $mobile-breakpoint){
      display: block;
      margin-bottom: 1.5rem;
    }
    &:hover{
      opacity: .8;
    }

    
    &-primary{
      background-color: $primary-color;
      color: $light-color;
    }
  }

  section[id]{
  padding: 1.8rem 0rem;
  display: block;
  width: 100%;
  &:nth-of-type(even){
    background-color: #f1f1f1;
  }
}

.section-title{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: .75rem 0rem;
  color: $primary-color;
}
.sub-title{
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 1.3;
  font-size: .95rem;
  color: $primary-color;

}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 1.5rem 0rem;
  flex-basis: auto;
  @media(max-width: $mobile-breakpoint) {
    display: block;
    margin: auto;
  }
}

.btn-icon{
  margin-right: 8px;
}
/****************** BANNER ****************/
#banner{
  display: block;
  width: 100%;
  position: relative;
  height: 80vh;
  background-color: $primary-color;
  color: $light-color;
  padding-top: 2rem;
  margin: auto;
  border-bottom: 1px solid $primary-color;
  @media(max-width: $mobile-breakpoint){
    height: 85vh;
  }
}
#banner-info{
  display: block;
  width: 100%;
  padding-top: 2rem;
  // position: absolute;
  // top: 1.5rem;
  // bottom: 3rem;
  display: block;
  margin: .75rem auto;
  z-index: 9999;
}

.portfolio-image-id{
  display: block;
  width: 10rem;
  height: 10rem;
  margin: .75rem auto;
  text-align: center;
  border: 2px solid $primary-color;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px $primary-color;
}
.portfolio-id{
  display: block;
  margin: .75rem auto;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #f1f1f1;

}
.portfolio-role{
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.2rem;
  color: #f1f1f1;
}
.banner-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 1.5rem auto;
  @media screen  and (max-width: $mobile-breakpoint) {
    display: block;
    .banner-cta{
      display: block;
      margin: .75rem  auto;
    }
  }
  .banner-cta{
    @extend .cta;
    color: $light-color;
    border: 1px solid $light-color;
    margin-left: .5rem;
    &:first-of-type{
      margin-right: .5rem;
    }
  
  }
}
.overlay{
  opacity: .7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
}

/****************** ABOUT ****************/
.about-info{
  padding: 0rem 2rem;
  .section-title{
    text-align: left;
  }
  .about-text{
    line-height: 2.0;
    font-size: 1.2rem;
    margin: 1.5rem 0rem;
  }
  
}
.about-cta{
  @extend .cta;
  background-color: $primary-color;
  color: $light-color;
}
.about-figure{
  display: none;
  margin: auto;
  text-align: center;
  .about-image{
    img{
      // width: 80%;
      text-align: center;
      height: 15rem;
      
    }
  }
  @media(max-width: 800px){
    display: none;
  }
}
/****************** SKiLLS ****************/
.skills-cta{
 @extend .cta;
 margin: 1rem auto;
 display: block;
 width: 60%;
}

/****************** PROJECTS ****************/
#projects .container{
  .flex-container{
    @media(max-width: 640px) {
      display: block;
      margin: auto;
      .card{
        width: 90%;
      }
    }
  
  }
}
.contact-form-container{
  width: 60%;
  margin: auto;
  @media (max-width: $tablet-breakpoint) {
    width: 95%;
  }
}
.form-cta{
  @extend .cta;
  background-color: $primary-color;
  color: $light-color;
}

.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
  
  i{
    color: $primary-color;
    padding: 1rem;
    background-color: transparent;
    flex-basis: content;
  }
}
/****************** CONTACTS ****************/
.socials{
  display: flex;
  justify-content: center;
  align-content: center;
  a{
    margin: .5rem;
  }
}
.form{
  display: block;
  width: 100%;
  padding: 1rem .75rem;
  .form-group{
    display: block;
    width: 100%;
    padding: .75rem 0rem;
    label{
      display: block;

      margin-bottom: .25rem;
    }
    .form-control{
      width: 100%;
      display: block;
      text-align: left;
      border: none;
      outline: none; 
      font-size: 1.5rem;
      box-shadow: 0px 0px 2px 1px $primary-color;    
    }
    // select{

    // }
    input, select, textarea{
      padding: .5rem 1rem;
      resize: none;
    }
  }
}
.btn{
  padding: .75rem 1rem;
}
.link{
  cursor: pointer;
  &-btn{
    display: block;
    text-align: center;
    margin: auto;
    padding: .4rem .75rem;
  }
  &-primary{
    background-color: $primary-color;
    color: #fff;
  }
  &:hover{
    opacity: .8;
  }
}
.scroll-top{
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: .25rem .25rem;
  z-index: 99;
  background-color: $dark-color;
  color: $light-color;
}
#footer{
  display: block;
  margin: auto;
  text-align: center;
  padding: 1rem 0rem;
  background-color: $dark-color;
  color: $light-color;
  & ~ * {
    margin: .5rem auto;
  }
  a{
    color: $light-color;
  }
}